.App {
  padding: 10vh 0 0 0;
  text-align: center;
  background-color: black;
  height: 100vh;
  width: 100vw;
  font-size: 8em;
  color: blueviolet;
}

button {
  border-radius: 5px;
  padding: 10px;
  border: solid white 1px;
  background-color: black;
  color: white;
}

.All-Students:hover {
  background-color: rgb(105, 145, 26);
  border: solid black 1px;
  color: black;
  font-weight: bold;
}

.One-Student:hover {
  background-color: red;
  border: solid black 1px;
}